#attendanceStaticTable{
  width:102%;
  text-align: center;
  border-collapse: collapse;
  border: solid 1px #ccc;
  font-size: 16px;
  color: #4D4D4D;
  margin-left:-7px;
  margin-top:-7px;
}

.date_th{
  width:22%;
  border: 1px solid #B3B3B3;
}

.time_th{
  width:13%;
  border: 1px solid #B3B3B3;
}

#attendanceStaticTable td {
  text-align: center;
  line-height: 23px;
  color: #4D4D4D;
  border: 1px solid #B3B3B3;
}